= form_with(model: task, local: true) do |form|
  - if task.errors.any?
    #error_explanation
      %h2
        = pluralize(task.errors.count, "error")
        prohibited this task from being saved:
      %ul
        - task.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    / idを付与
    = form.text_field :title, id: :task_title
  .actions
    / idを付与
    = form.submit "Submit", id: "submit"
