<p id="notice"><%= notice %></p>

<h1 id="title">Tasks</h1>

<!-- scaffoldで自動生成したformを呼び出し -->
<%= render 'form', task: @task %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <!-- jQueryでDOMを取得できるようidを付与 -->
  <tbody id="task-list">
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
